/* override mui stylesheet s*/
.seach-header {
	margin-top: 10px;
}

.mui-input-group .mui-input-row {
	height: auto;
}

.mui-search {
	float: left;
	margin-left: 10px;
	width: 82%;
}

.mui-input-row .mui-table-view-cell {
	padding: 5px;
}

.mui-scroll-wrapper {
	top: 50px;
}

.mui-input-row label {
	width: 100%;
}
/* override mui stylesheet e*/

#addBtn {
	float: right;
	margin-right: 10px;
	font-size: 34px;
}

#pullInfo {
	margin-top: 5px;
}