<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.impler.auth.dao.UserDao">

	<resultMap id="user" type="User">
		<id column="ID" property="id"/>
		<result column="USERNAME" property="username"/>
		<result column="PASSWORD" property="password"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="SALT" property="salt"/>
		<result column="EMAIL_ADDRESS" property="emailAddress"/>
		<result column="MOBILE_NUMBER" property="mobileNum"/>
	</resultMap>
	
	<!-- query user security information s -->
	<!-- user security field -->
	<sql id="securityInfoSql">
		USERNAME, PASSWORD, SALT 
	</sql>
	<select id="querySecurityInfoByUsername" parameterType="string" resultType="user">
		SELECT 
		<include refid="securityInfoSql" />
		FROM T_AUTH_USER
		WHERE USERNAME = #{username}
	</select>
	
	<select id="querySecurityInfoByMobileNum" parameterType="string" resultType="user">
		SELECT 
		<include refid="securityInfoSql" />
		FROM T_AUTH_USER
		WHERE MOBILE_NUMBER = #{mobileNum}
	</select>
	
	<select id="querySecurityInfoByEmailAddress" parameterType="string" resultType="user">
		SELECT 
		<include refid="securityInfoSql" />
		FROM T_AUTH_USER
		WHERE EMAIL_ADDRESS = #{emailAddress}
	</select>
	<!-- query user security information e -->
	
	<!-- query user common information s -->
	<!-- user common field -->
	<sql id="commonInfoSql">
		ID, USERNAME, EMAIL_ADDRESS, MOBILE_NUMBER
	</sql>
	<select id="queryCommonInfoByUsername" parameterType="string" resultType="user">
		SELECT 
		<include refid="commonInfoSql" />
		FROM T_AUTH_USER
		WHERE USERNAME = #{username}
	</select>
	
	<select id="queryCommonInfoByMobileNum" parameterType="string" resultType="user">
		SELECT 
		<include refid="commonInfoSql" />
		FROM T_AUTH_USER
		WHERE MOBILE_NUMBER = #{mobileNum}
	</select>
	
	<select id="queryCommonInfoByEmailAddress" parameterType="string" resultType="user">
		SELECT 
		<include refid="commonInfoSql" />
		FROM T_AUTH_USER
		WHERE EMAIL_ADDRESS = #{emailAddress}
	</select>
	<!-- query user common information e -->
	
	<insert id="insert" parameterType="User">
		INSERT INTO T_AUTH_USER (USERNAME, PASSWORD, SALT, NICKNAME, EMAIL_ADDRESS, MOBILE_NUMBER)
		VALUES(#{username}, #{password}, #{salt}, #{nickname}, #{emailAddress}, #{mobileNum})
	</insert>
	
</mapper>