<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.impler.wechat.mrgfnr.dao.intf.MrgFnrEventDao">
	
	<resultMap type="MrgFnrEvent" id="event">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="name" property="name"/>
		<result column="type" property="type"/>
		<result column="date" property="date"/>
		<result column="fee" property="fee"/>
		<result column="remark" property="remark"/>
		<result column="create_time" property="createTime"/>
		<result column="last_update_time" property="lastUpdateTime"/>
	</resultMap>
	
	<sql id="likeQuery">
		<if test="name != null and name != ''">
			<bind name="likeName" value="'%' + _parameter.getName() + '%'"/>
			NAME LIKE #{likeName}
		</if>
	</sql>
	
	<select id="queryInPagination" parameterType="MrgFnrEventSearchBean" resultMap="event">
		SELECT ID, USER_ID, NAME, TYPE, DATE, FEE, REMARK, CREATE_TIME, LAST_UPDATE_TIME 
		FROM T_WECHAT_MRGFNR
		<where>
			<include refid="likeQuery"></include>
		</where>
	</select>
	
	<select id="count" resultType="int">
		SELECT COUNT(1) FROM T_WECHAT_MRGFNR
		<where>
			<include refid="likeQuery"></include>
		</where>
	</select>
	
	<select id="selectOneByKey" resultMap="event">
		SELECT ID, USER_ID, NAME, TYPE, DATE, FEE, REMARK, CREATE_TIME, LAST_UPDATE_TIME 
		FROM T_WECHAT_MRGFNR
		WHERE ID = #{id}
	</select>
	
	<insert id="insert" parameterType="MrgFnrEvent" keyColumn="id" useGeneratedKeys="true">
		INSERT INTO T_WECHAT_MRGFNR (USER_ID, NAME, TYPE, DATE, FEE, REMARK, CREATE_TIME, LAST_UPDATE_TIME)
		VALUES(#{userId}, #{name}, #{type}, #{date}, #{fee}, #{remark}, now(), now())
	</insert>
	
	<update id="update" parameterType="MrgFnrEvent">
		UPDATE T_WECHAT_MRGFNR 
		SET NAME = #{name}, TYPE = #{type}, FEE = #{fee}, REMARK=#{remark}, DATE = #{date}, LAST_UPDATE_TIME = now()
		WHERE ID = #{id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM T_WECHAT_MRGFNR WHERE ID = #{id}
	</delete>
</mapper>

